@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --logo-dark-blue: #1e59a6;
  --logo-lighter-blue: #4374bb;
  --logo-text-blue: #03193b;
  --accent-color: #fdbe06;
  --light-grey: #f2f2f2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  direction: rtl;
  font-size: 18px;
  font-family: 'Assistant', sans-serif;
  background-color: var(--light-grey);
  color: #323232;
}

/* From incrementing container */

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 15px 0px;
}

.counter {
  font-size: 30px;
  margin-top: 10px;
}

.white {
  color: var(--logo-text-blue);
  position: absolute;
  bottom: 0;
  font-size: 6px;
  text-align: center;
}

/* New */

/* HEADER: nav and opening and title */
.header {
  /* padding: 0 3rem; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(to bottom, #03193be8, #1d396397),
    url('/imgs/smallerHeaderImage.jpg');
  /* background-image: linear-gradient(#4374bb, #fff),
    url('/imgs/smallerHeaderImage.jpg');
  background-image: url('/imgs/smallerHeaderImage.jpg'); */
  /* min-height: 50vh; */
  /* height: 500px; */
  min-height: 500px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 7rem; */
  width: 100%;
  /* padding: 0 6rem; */
  z-index: 100;
  backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.596);
}

.logo {
  max-height: 100%;
  height: 100px;
  padding: 15px;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
}

.nav-item {
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav-link:link,
.nav-link:visited {
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
  font-weight: 600;
  display: block;
}

/* Toggle button */
.toggle-button {
  position: absolute;
  top: 2.7rem;
  left: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  display: block;
}

@media (max-width: 767px) {
  .toggle-button {
    display: flex;
  }

  .nav {
    flex-direction: column;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .nav-item {
    width: 100%;
    text-align: center;
    padding: 0.5rem 1rem;
  }
  .logo {
    align-self: flex-start;
  }
  .nav-links.active {
    display: flex;
  }
}

.title {
  color: #fff;
  padding: 8px;
  text-align: center;
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  /* bottom: -50px; */
  height: 100%;
  margin: auto;
  padding-bottom: 10px;
}

.btn {
  padding: 8px 15px;
  background-color: var(--accent-color);
  /* border: none; */
  font-family: inherit;
  font-size: inherit;
  margin-top: 20px;
  font-weight: 600;
  border: solid #e5cd85;
  border-radius: 15px;
  opacity: 1;
  transition: display 1s, transform 1s, opacity 1s, background-color 500ms;
  cursor: pointer;
}
.btn:hover {
  background-color: #e5cd85;
}

.btn-hidden {
  /* display: none; */
  opacity: 0;
  transform: translateY(8rem);
}

/* MAIN  */
main {
  width: 100%;
}

/* SECTIONS */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* max-width: 700px; */
  padding: 30px;
  margin: auto;
  width: 100%;
}

.section p {
  text-align: justify;
  line-height: 2;
  max-width: 700px;
}

.section h2 {
  color: var(--logo-text-blue);
}

.section:nth-of-type(odd) {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.in-p-bold {
  font-weight: 600;
}

.join-options {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: auto;
}
.join-text {
  font-size: 20px;
}
.join-option {
  margin-bottom: 20px;
}

.join-icon {
  margin-left: 10px;
}
.option-title {
  font-weight: 800;
  color: var(--logo-text-blue);
}

.join-option-title {
  display: flex;

  align-items: center;
}

.join-options p a {
  text-decoration: none;
  color: var(--logo-text-blue);
  border-bottom: 5px solid var(--logo-dark-blue);
  font-weight: 600;
  transition: all 250ms;
}

.join-options p a:hover {
  border-bottom: 10px inset var(--logo-dark-blue);
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.social-link {
  padding: 0px 20px;
}

.footer {
  width: 100%;
  background-color: var(--logo-text-blue);
}
.p-footer {
  text-align: center;
  color: var(--logo-lighter-blue);
  direction: ltr;
  font-size: 14px;
}

.p-footer a {
  color: var(--logo-lighter-blue);
}
